@{
    ViewData["Title"] = "Home Page";
}
<table class="table table-stripped">
    <thead>
        <th>Item</th>
        <th>Quantity</th>
        <th>Price</th>
    </thead>
    <tbody>
        <tr>
            <td>Pizza</td>
            <td>3</td>
            <td>143.59</td>
        </tr>
        <tr>
            <td>Pizza</td>
            <td>3</td>
            <td>143.59</td>
        </tr>

    </tbody>
</table>
